<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoresheet</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
            text-align: center;
        }
        .question-col {
            width: 30px;
        }
    </style>
</head>
<body>
    <form id="scoresheet-form">
    <input type="submit" value="Save">
    <h1>Scoresheet</h1>
    <input type="hidden" name="quiz_name" value="{{ quiz_name }}">
    <table>
        <!-- Header Row -->
        <tr>
            <td colspan="2">Bible Quizzing Score Sheet</td>
            <td>DATE:</td>
            <td colspan="2"></td>
            <td>QUIZ #:</td>
            <td colspan="2"></td>
            <td>ROOM #:</td>
            <td colspan="2"></td>
            <td colspan="15"></td>
            <td colspan="3">Team</td>
            <td colspan="2">Score</td>
            <td colspan="2">Points</td>
        </tr>
        <tr>
            <td colspan="2">CMA</td>
            <td>QUIZMASTER:</td>
            <td colspan="2"></td>
            <td>SCOREKEEPER:</td>
            <td colspan="2"></td>
            <td>ANSWER JUDGE:</td>
            <td colspan="2"></td>
            <td colspan="15"></td>
            <td>First</td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="12"></td>
            <td colspan="15"></td>
            <td>Second</td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="12"></td>
            <td colspan="15"></td>
            <td>Third</td>
            <td colspan="2"></td>
            <td colspan="2"></td>
        </tr>

        <!--Spacer Row-->
        <tr><td colspan="32" style="border: none;"></td></tr>

        <!-- Team 1 -->
        <tr>
            <td rowspan="2">Captain</td>
            <td>Team</td>
            <td colspan="15"></td>
            <td colspan="4">ERROR POINTS IN EFFECT</td>
            <td colspan="6">OVERTIME</td>
        </tr>
        <tr>
            <td>
                <select name="team_1">
                    <option value=""></option>
                    {% for team in teams %}
                        <option value="{{ team.name }}" {% if scoresheet_data and scoresheet_data['team_1'] == team.name %}selected{% endif %}>{{ team.name }}</option>
                    {% endfor %}
                </select>
            </td>
            {% for i in range(1, 16) %}
            <td>{{ i }}</td>
            {% endfor %}
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
        </tr>
        {% for i in range(1, 6) %}
        <tr>
            <td>{{ i }}</td>
            <td>
                <select class="quizzer-select" name="quizzer_1_{{ i }}">
                    <option value=""></option>
                </select>
            </td>
            {% for j in range(1, 27) %}
            <td class="question-col">
                <select name="score_1_{{ i }}_{{ j }}">
                    <option value="" {% if scoresheet_data and scoresheet_data['score_1_' + i|string + '_' + j|string] == '' %}selected{% endif %}></option>
                    <option value="C" {% if scoresheet_data and scoresheet_data['score_1_' + i|string + '_' + j|string] == 'C' %}selected{% endif %}>C</option>
                    <option value="B" {% if scoresheet_data and scoresheet_data['score_1_' + i|string + '_' + j|string] == 'B' %}selected{% endif %}>B</option>
                    <option value="E" {% if scoresheet_data and scoresheet_data['score_1_' + i|string + '_' + j|string] == 'E' %}selected{% endif %}>E</option>
                    <option value="BE" {% if scoresheet_data and scoresheet_data['score_1_' + i|string + '_' + j|string] == 'BE' %}selected{% endif %}>BE</option>
                    <option value="F" {% if scoresheet_data and scoresheet_data['score_1_' + i|string + '_' + j|string] == 'F' %}selected{% endif %}>F</option>
                    <option value="OUT" {% if scoresheet_data and scoresheet_data['score_1_' + i|string + '_' + j|string] == 'OUT' %}selected{% endif %}>OUT</option>
                    <option value="IN" {% if scoresheet_data and scoresheet_data['score_1_' + i|string + '_' + j|string] == 'IN' %}selected{% endif %}>IN</option>
                </select>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2">Score</td>
            {% for i in range(1, 27) %}
            <td id="running_total_1_{{ i }}">20</td>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="2">Appeal</td>
            <td colspan="15"></td>
            <td colspan="11"></td>
        </tr>
        <tr>
            <td colspan="2">Timeouts</td>
            <td colspan="30"></td>
        </tr>

        <!--Spacer Row-->
        <tr><td colspan="32" style="border: none;"></td></tr>

        <!-- Team 2 -->
        <tr>
            <td rowspan="2">Captain</td>
            <td>Team</td>
            <td colspan="15"></td>
            <td colspan="4">ERROR POINTS IN EFFECT</td>
            <td colspan="6">OVERTIME</td>
        </tr>
        <tr>
            <td>
                <select name="team_2">
                    <option value=""></option>
                    {% for team in teams %}
                        <option value="{{ team.name }}" {% if scoresheet_data and scoresheet_data['team_2'] == team.name %}selected{% endif %}>{{ team.name }}</option>
                    {% endfor %}
                </select>
            </td>
            {% for i in range(1, 16) %}
            <td>{{ i }}</td>
            {% endfor %}
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
        </tr>
        {% for i in range(1, 6) %}
        <tr>
            <td>{{ i }}</td>
            <td>
                <select class="quizzer-select" name="quizzer_2_{{ i }}">
                    <option value=""></option>
                </select>
            </td>
            {% for j in range(1, 27) %}
            <td class="question-col">
                <select name="score_2_{{ i }}_{{ j }}">
                    <option value="" {% if scoresheet_data and scoresheet_data['score_2_' + i|string + '_' + j|string] == '' %}selected{% endif %}></option>
                    <option value="C" {% if scoresheet_data and scoresheet_data['score_2_' + i|string + '_' + j|string] == 'C' %}selected{% endif %}>C</option>
                    <option value="B" {% if scoresheet_data and scoresheet_data['score_2_' + i|string + '_' + j|string] == 'B' %}selected{% endif %}>B</option>
                    <option value="E" {% if scoresheet_data and scoresheet_data['score_2_' + i|string + '_' + j|string] == 'E' %}selected{% endif %}>E</option>
                    <option value="BE" {% if scoresheet_data and scoresheet_data['score_2_' + i|string + '_' + j|string] == 'BE' %}selected{% endif %}>BE</option>
                    <option value="F" {% if scoresheet_data and scoresheet_data['score_2_' + i|string + '_' + j|string] == 'F' %}selected{% endif %}>F</option>
                    <option value="OUT" {% if scoresheet_data and scoresheet_data['score_2_' + i|string + '_' + j|string] == 'OUT' %}selected{% endif %}>OUT</option>
                    <option value="IN" {% if scoresheet_data and scoresheet_data['score_2_' + i|string + '_' + j|string] == 'IN' %}selected{% endif %}>IN</option>
                </select>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2">Score</td>
            {% for i in range(1, 27) %}
            <td id="running_total_2_{{ i }}">20</td>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="2">Appeal</td>
            <td colspan="15"></td>
            <td colspan="11"></td>
        </tr>
        <tr>
            <td colspan="2">Timeouts</td>
            <td colspan="30"></td>
        </tr>

        <!--Spacer Row-->
        <tr><td colspan="32" style="border: none;"></td></tr>

        <!-- Team 3 -->
        <tr>
            <td rowspan="2">Captain</td>
            <td>Team</td>
            <td colspan="15"></td>
            <td colspan="4">ERROR POINTS IN EFFECT</td>
            <td colspan="6">OVERTIME</td>
        </tr>
        <tr>
            <td>
                <select name="team_3">
                    <option value=""></option>
                    {% for team in teams %}
                        <option value="{{ team.name }}" {% if scoresheet_data and scoresheet_data['team_3'] == team.name %}selected{% endif %}>{{ team.name }}</option>
                    {% endfor %}
                </select>
            </td>
            {% for i in range(1, 16) %}
            <td>{{ i }}</td>
            {% endfor %}
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
        </tr>
        {% for i in range(1, 6) %}
        <tr>
            <td>{{ i }}</td>
            <td>
                <select class="quizzer-select" name="quizzer_3_{{ i }}">
                    <option value=""></option>
                </select>
            </td>
            {% for j in range(1, 27) %}
            <td class="question-col">
                <select name="score_3_{{ i }}_{{ j }}">
                    <option value="" {% if scoresheet_data and scoresheet_data['score_3_' + i|string + '_' + j|string] == '' %}selected{% endif %}></option>
                    <option value="C" {% if scoresheet_data and scoresheet_data['score_3_' + i|string + '_' + j|string] == 'C' %}selected{% endif %}>C</option>
                    <option value="B" {% if scoresheet_data and scoresheet_data['score_3_' + i|string + '_' + j|string] == 'B' %}selected{% endif %}>B</option>
                    <option value="E" {% if scoresheet_data and scoresheet_data['score_3_' + i|string + '_' + j|string] == 'E' %}selected{% endif %}>E</option>
                    <option value="BE" {% if scoresheet_data and scoresheet_data['score_3_' + i|string + '_' + j|string] == 'BE' %}selected{% endif %}>BE</option>
                    <option value="F" {% if scoresheet_data and scoresheet_data['score_3_' + i|string + '_' + j|string] == 'F' %}selected{% endif %}>F</option>
                    <option value="OUT" {% if scoresheet_data and scoresheet_data['score_3_' + i|string + '_' + j|string] == 'OUT' %}selected{% endif %}>OUT</option>
                    <option value="IN" {% if scoresheet_data and scoresheet_data['score_3_' + i|string + '_' + j|string] == 'IN' %}selected{% endif %}>IN</option>
                </select>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2">Score</td>
            {% for i in range(1, 27) %}
            <td id="running_total_3_{{ i }}">20</td>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="2">Appeal</td>
            <td colspan="15"></td>
            <td colspan="11"></td>
        </tr>
        <tr>
            <td colspan="2">Timeouts</td>
            <td colspan="30"></td>
        </tr>

        <!--Spacer Row-->
        <tr><td colspan="32" style="border: none;"></td></tr>

        <!-- Scoring Rules -->
        <tr>
            <td colspan="16">SCORING RULES:</td>
            <td colspan="16">TOURNAMENT SCORING</td>
        </tr>
        <tr>
            <td colspan="8">C = Correct Answer</td>
            <td colspan="8">E = error</td>
            <td colspan="16" rowspan="4"></td>
        </tr>
        <tr>
            <td colspan="8">B = Correct Bonus Answer</td>
            <td colspan="8">BE = bonus error, no points lost</td>
        </tr>
        <tr>
            <td colspan="8"></td>
            <td colspan="8">F = foul</td>
        </tr>
        <tr>
            <td colspan="8"></td>
            <td colspan="8">A = Overruled Appeal</td>
        </tr>
        <tr>
            <td colspan="8"></td>
            <td colspan="8"><> = Quizzer Entering Quiz</td>
        </tr>
        <tr>
            <td colspan="8"></td>
            <td colspan="8">< = Quizzer Leaving Quiz</td>
        </tr>


    </table>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('scoresheet-form');
            form.addEventListener('change', () => {
                const formData = new FormData(form);
                fetch(`/edit_quiz/{{ quiz_name }}`, {
                    method: 'POST',
                    body: formData
                });
            });

            const teamSelects = document.querySelectorAll('select[name^="team_"]');

            teamSelects.forEach((select, index) => {
                const teamIndex = index + 1;
                select.addEventListener('change', (event) => {
                    const teamName = event.target.value;
                    const quizzerSelects = document.querySelectorAll(`.quizzer-select[name^="quizzer_${teamIndex}_"]`);

                    quizzerSelects.forEach(quizzerSelect => {
                        quizzerSelect.innerHTML = '<option value=""></option>';
                    });

                    if (teamName) {
                        fetch(`/get_quizzers/${teamName}`)
                            .then(response => response.json())
                            .then(quizzers => {
                                quizzerSelects.forEach(quizzerSelect => {
                                    quizzers.forEach(quizzer => {
                                        const option = document.createElement('option');
                                        option.value = quizzer.name;
                                        option.textContent = quizzer.name;
                                        quizzerSelect.appendChild(option);
                                    });
                                });
                            })
                            .catch(error => console.error('Error:', error));
                    }
                });
            });
        });
    </script>
</body>
</html>
